@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



b {
  font-family: "SF UI Display Medium";
}

@media (min-width: 576px) {
  .cab-tab {
    border-radius: 0 0 15px 15px;
  }



  .task {

    font-size: 64px;
  }
}

@media (min-width: 768px) {
  .users-table {
    font-size: 14px !important;
  }

  .users-table td, .users-table th {
    padding: 5px 10px !important;
  }

  .heading_holder {
    font-size: 24px !important;
  }

  #tabs h1 {
    font-size: 20px !important;
  }

  #tabs {
    font-size: 14px !important;
  }

  .task {
    height: 30vmin;
    width: 30vmax;
    font-size: 80px;
  }
}

@media (min-height: 992px) {
  .cab-tab {
    border-radius: 0 0 15px 15px;
  }

  .cab-footer {
    min-height: 10vh !important;
  }

  .task-block {
    min-height: 78vh !important;
  }
}

@media (min-width: 992px) {
  .personal_cab {
    width: 60% !important;
  }

  .timer span:last-child {
    font-size: 24px;
  }

  .cab-profile {
    align-items: start !important;
  }

  .task-block {
    min-height: 100vh !important;
  }

  .task-block:first-child, .task-block:last-child {
    min-height: 88vh !important;
  }

  .modal-body * {
    max-width: 70%;
  }

  .users-table {
    font-size: 18px !important;
  }

  .users-table td, .users-table th {
    padding: 10px 15px !important;
  }

  .heading_holder {
    font-size: 28px !important;
  }

  .cab-tab {
      height: calc(76vh - 30px);
  }


}


@media (min-width: 1200px) {

}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  line-height: 1;
  background-image: linear-gradient(#232526, #414345);
}

a:hover, button:hover, a:focus, button:focus, a:active, button:hover {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none !important;
  color: #fff;
}


html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

p {
  font-family: "SF UI Display Light", serif;
}

.full-height {
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5%;
}

.title>a {
  display: block;
}

#pic-main {
  width: 100%;
  height: auto;
}

#pic-sec {
  width: 100%;
  height: auto;
}

#arrow {
  width: auto;
  height: 3vmax;
  animation: arrow 2.5s ease-in-out 1s infinite;
  transition: all .3s ease;
}

#arrow:hover {
  animation: none;
}

@keyframes arrow {
  25% {
  opacity: 1;
  }
  33% {
  opacity: 1;
  transform: translateY(2vh);
  }
  67% {
  opacity: 1;
  transform: translateY(2.2vh);
  }
  100% {
  opacity: 0;
  transform: translateY(2.4vh) scale3d(0.5, 0.5, 0.5);
  }
  }

#arrow img {
  width: 100%;
  height: auto;
}

.pic {
  width: 60px;
  min-height: 100%;
  text-align: center;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}


#tabs {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font: 18px "SF UI Display Medium";
  padding: 0;
}

#tabs h1 {
  font-size: 24px;
  font-family: "SF UI Display Medium";
}

#tabs hr {
  width: 65%;
  height: 5px;
  background-color: #FFEA88;
}

.triggers-holder {
  width:100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "SF UI Display Medium";
}

#tabs li {
  display: block;
}


#triggers {
  float: left;
  z-index: 5;
  font-size: 32px;
}

#trigger-1 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  background-color: #76797C;
  cursor: pointer;
}


#trigger-2 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  background-color: #595C5F;
  cursor: pointer;
}

#trigger-3 {
  height: 80px;
  text-align: center;

  line-height: 80px;
  border-radius: 15px 15px 0 0;
  background-color: #414141;
  cursor: pointer;
}

.cab-tab .image {
  padding: 25px;
}


.tabs-container {
  padding: 0;
}

.tabs-1 {
  flex-direction: row !important;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #76797C;
}

.text {
  display: flex;
  flex-direction: column;
}

.text * {
  margin-top: 15px;
  line-height: 1.15em;
}

.picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.picture a {
  max-width: 100%;
}

.picture img {
  width: auto;
  height: 100%;
}

.tabs-2 {
  flex-direction: row !important;
  width: 100%;
  margin: 0;
  background-color: #595C5F;
  min-height: 100vh;
}

.tabs-3 {
  width: 100%;
  margin: 0;
  background-color: #414141;
  align-items: center;
  min-height: 88vh;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-v {
  width: 7vw;
  margin-bottom: 4vh;
}

.login {
  font-size: 24px;
  line-height: 60px;
  border-radius: 15px;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #2A2B2D;
  text-decoration: none;
  justify-content: space-around;
}

a.login:visited {
  color: white;
}

a.login:hover {
  color: #ddd;
}

#f-logo {
  height: 40px;
  width: auto;
  margin-right: 15px;
}

.social {
  margin-right: 15px;
}

.base-footer {
  margin: 60px 0 !important;
}

.base-footer > div {
  flex-direction: column;

}

.cab-header {
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  color: white;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: #414141;
}

.cab-header .picture {
  flex-direction: row;
  justify-content: start;
  padding: 0;
}

.cab-header__inner {
  max-height: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font: 14px "JetBrains Mono";
  padding: 0;
}

.timer span {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1em;
}



.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  position: static;
}

.menu__button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 100%;
  width: 100%;
  padding: 10%;
}

.menu__button img {
  height: 100%;
  width: auto;
}

.cab-footer {
  color: #C2C2C2;
  padding: 20px;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cab-footer > div {
  padding: 0;
}

img[src="img/logo-SC.svg"] {
  filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(58deg) brightness(110%) contrast(101%);
}

.cab-footer .social-block {
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.cab-footer .social-block p {
  padding-top: 10px;
  margin: 0;
}




.cab-main__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0;
}

.cab-main {
  height: 76vh;
  padding-top: 30px;
}

.cab-profile {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cab-profile__inner {
  padding: 0;
}

.cab-profile .img-holder {
  width: 30vmin;
  height: 30vmin;
  background-image: url("img/profile-background.svg");
  background-size: cover;
}

.cab-profile #name-holder {
  padding: 25px 0 5px 0;
  font: 38px "SF UI Display Medium";
}

#tag-holder {
  font: 24px "SF UI Display Medium";
  color: rgba(255, 255, 255, .6);
}

#triggers {
  font-size: 32px;
}

#cab-triggers {
  font-size: 24px;
}

#cab-trigger-1 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}


#cab-trigger-2 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

#cab-trigger-3 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

#m-cab-trigger-1 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}


#m-cab-trigger-2 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

#m-cab-trigger-3 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

.cab-trigger {
  transition: all .2s ease;
}

.cab-trigger:hover {
  border-bottom: 3px solid #FEFFE4;
}

.cab-trigger.t-active {
  border-bottom: 5px solid #FEFFCD;
}

#cab-triggers {
  border-bottom: 1px solid #fff;
}
.cab-main-row {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0;
  margin: 0;
}

.cab-tab {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 5%;


  font-size: 12px;
}

.cab-tabs-holder {
  padding: 0;
  flex-direction: column;
}

.progressbar {
  background: #fff;
  height: 15px;
}

.progress {
  height: 100%;
  width: 30%;
  background: #FFEA87;
}

.cab-tab h1.heading_holder {
  font: 18px "JetBrains Mono";
  color: #FFEA87;
  text-align: center;
  margin: 3% auto;
}

.users-table {
  width: 100%;
  color: #fff;
  font: 12px "SF UI Display Medium";
  font-weight: normal;
  border-radius: 10px;
  background: #414141;
  border-collapse: collapse;
}

.users-table tr {

  text-align: center;
}



.users-table td, .users-table th {
  padding: 2px 5px;
  border-bottom: 1px solid #FFEA87;
}

.users-table tr:last-child td{
  border: none;
}

.notific-table {
  width: 100%;
  color: #fff;
  font: 16px "SF UI Display Medium";
  border-collapse: collapse;
}

.notific-table tr {

  text-align: center;
  background: #414141;
  border-radius: 10px;
  align-items: center;
  transition: all 1s ease;
}

.notific-table tr:hover {
  background: #76797C;
}

.notific-table td {
  padding: 10px 0;
}

.notific-table td:last-child {
  width: calc(100% - 20px);
  border-bottom: 1px solid #FFEA87;
  margin: 0 10px;
}

.notific-table tr:last-child td {
  border: none;
}

#cab-tabs-3 {
  padding: 50px 15px;
}

.rules-block {
  border-radius: 15px;
  padding: 20px 60px 30px 60px;
  background: #414141;
  font: 14px "SF UI Display Light";
}

.rules-block p {
  padding-top: 10px;
}

.rules-tasks {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.circle {
  width: 29px;
  height: auto;
  margin-left: 15px;
}

.personal_cab {
  border: double 1px transparent;
  display: flex;
  border-radius: calc( (12vh - 40px)/2);

  background-image: linear-gradient(#5C5C5C, #5C5C5C), radial-gradient(circle at top left, #FFEA87 ,#FFF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  justify-self: flex-end;
  min-width: calc( (12vh - 40px));
  max-height: 100%;
}


.personal_cab a{
  text-decoration: underline transparent;
}

.personal_cab *{
  display: inline-block;
}

.personal_cab .row {
  margin: 0;
}

.avatar-holder {
  padding: 0;
  width: calc(12vh - 42px);
  height: 100%;
}

.text-holder {
  padding: 0;
  width: calc(100% - 3*(12vh - 40px)/2);
}

.profile-link .row:last-child {
  justify-content: end;
  height: 100%;
}

.personal_cab p{
  display: inline;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  margin: auto  0;

}

.avatar{
  width: auto;
  height: 100%;
}


.task_num{
  font-family: JetBrains Mono, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  /* or 35px */
  text-align: center;
  margin-bottom: 3vh;
  color: #FEFFCD;
}

.task-block__header div {
  display: flex;
  justify-content: center;
}

.task-block__inner {
  margin-top: 5vh;
  flex-direction: row;
  justify-content: center;
}

.task-block__header {
  margin-bottom: 5vh;
}

.task-block {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.task_lvl{
  color: #FEFFCD;
  max-width: 100%;
}

.task-holder {
  font-family: SF UI Display, serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  display: flex;
  justify-content: center;

}

.task {
  width: 25vmin;
  height: 25vmin;
  border-radius: 10px;
  border: none;
  background-color: #76797C;
  line-height: 100%;
  font-size: 50px;
  margin: 0 auto;
}

.task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.task_1_container{
  margin-top: 0%;
  margin-left: 16%;
}

.task_2_container{
  margin-top: -12%;
  margin-left: 16%;
}

.task_3_container{
  margin-left: 33%;
}

#closed{
  background-image: url("img/Lock.svg");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;

}

.task p{
  font-family: SF UI Display, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 150px;

  text-align: center;

  color: #FFFFFF;
}

.modal {
  display: block;
  min-height: 50vh;
  height: 75vh;
  width: 80vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 0px solid;
  border-radius: 10px;
  z-index: 10;
  color: #FFF;
  background: linear-gradient(180deg, #232526 0%, #414345 92.19%);
  max-width: 80%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.modal p {
  text-align: center;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.modal-header .modal-title {
  margin-top: 5px;
  margin-left: 5px;
  font-family: SF UI Display, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: bold;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font: 1.2em;
}

.task1{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}



.task2{
  width: 80%;
  height: auto;

}

.task2txt{
  margin-bottom: 50px;


  font-family: JetBrains Mono, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.task3{
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.task4img{
  width: 100%;
  height: auto;
}

.task9img{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.task4{
  margin-bottom: 8px;
  color: #FFEA87;
  width: 100%;

  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  text-align: left;
}

.task6img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.task7{
  font-family: "SF UI Display", serif;
  font-weight: lighter;
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.task8{
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 40px;

  text-align: center;

  color: #FFFFFF;
}

#modal8 {
  overflow-y: auto;
}

.task8head{
  font-family: "SF UI Display Light", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;

  color: #FFFFFF;

}

.task11head{
  font-family: "SF UI Display Light", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  /* identical to box height */
  text-align: center;
  margin-bottom: 2em;
  color: #FFFFFF;
}

.task11{
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.8em;
  text-indent: 15px;
  color: #FFFFFF;
}

.task11 a{
  color: #FEFFCD;;
}

.task12{
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 22px;
  display: block;

  color: #FFFFFF;
  width: 100%;
  height: auto;
}

.task13txt{
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: auto;


  font-family: "JetBrains Mono", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #FFFFFF;
}

.task12hint{
  font-family: "SF UI Display Light";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #FFFFFF;

}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.answer {
  width: 1;
}

.answer p {
  margin-left: 15px;
  margin-bottom: 1em;
  font-size: 1.25em;
}

input.answer {
  width: 80%;
  max-width: 480px;
  height: 51px;
  color: #FFF;
  font-size: 1.2em;
  margin: auto;
  border: double 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(#5C5C5C, #5C5C5C), radial-gradient(circle at top left, #FFEA87 ,#FFF);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.modal-form .submit {
  line-height: 48px;
  align-content: center;
  padding: 0 10px;

  margin-bottom: 20px;
  color: #FFF;
  font-family: "SF UI Display", serif;
  font-size: 1.5em;
  background: #76797C;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#active1{
  background: linear-gradient(180deg, #88FF64 0%, #D7FCCC 100%);
  color: #252728;
}

#active2{
  background: linear-gradient(180deg, #FF9900 0%, #FFB74A 47.92%, #FBDCAD 100%);
  color: #252728;
  border: none;
}

#active3{
  background: linear-gradient(180deg, #E35E5E 0%, #F47979 47.4%, #FFA0A0 100%);
  color: #252728;
  border: none;
}

.task_lvl_HARD {
  margin-top: 40px;
  margin-left: 20%;
  color: #FEFFCD;
}


#carousel {
  display: flex;
  flex-direction: column-reverse;
}

.carousel-inner {
  height: 90vh;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 55;
}

.toggle .text {
      font-size: 18px;
      transform: translate3d(0,0,0);
}

.menu-container {
  display: flex;
  justify-content: end;
}

.menu .icon {
    display: block;
    height: 25px;

    width: 35px;
    transform: rotateZ(0);
}

.menu .icon div {
    background-color: #fff;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.menu .icon div.middle {
    top: 50%;
    transform: translateY(-50%);
}

.menu .icon div.bottom {
    bottom: 0;
}

.navbar-area {
  background: rgba(0,0,0,.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(12vh - 80px);
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  width: calc(12vh - 40px);
  display: none;

}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 100%;
  height: 6px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(calc((-12vh + 60px + 100%)/2));
}
.nav-toggler span:after {
  content: '';
  transform: translateY(calc((12vh - 60px - 300%)/2));
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-100%) rotate(-45deg);
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    height: calc(12vh - 40px);
    display: flex;
    justify-content: end;
  }
  .site-navbar ul {
      position: absolute;
      width: 100%;
      height: 88vh;
      left: 0;
      top: 12vh;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.9);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
      z-index: 50;
    }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }

  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */
}
/* mobile breakpoint end */

/* big buttons, no circle */
.flickity-prev-next-button {
  width: 10vmin;
  height: 10vmin;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.flickity-page-dots {
  bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.main-carousel {
  padding: 0;
}
